section.best
  .wrap
    h2.section-title Почему эхолот Lucky - лучший?
    
    .best-one
      img(src="assets/images/number-one.png").best-one__image
      p.best-one__text <span>Беспроводной эхолот для рыбалки Lucky FFW718</span> - это самый популярный беспроводной эхолот в России, он заслужил репутацию <span>одного из самых лучших и надежных</span> беспроводных эхолотов, на дисплее мгновенно отображается вся необходимая информация: температура воды; глубина; рельеф дна; место скопления рыб и косяков рыб различных размеров
    
    .best-block
      .best-block-left
        ul.options-list
          li.options-list__item
            img(src="assets/images/icon-list.svg")
            p Идеально подойдет для любой рыбалки, будь то летом или зимой, для ловли как с берега так и с лодки
          li.options-list__item
            img(src="assets/images/icon-list.svg")
            p Измеряет глубину и обнаруживает рыбу без сверления лунки, что экономит Ваше время
        a(href=".form").second-button Сделать заказ
      .best-block__image
        img(src="assets/images/img.jpg")
    .best-block
      .best-block__image
        img(src="assets/images/img.jpg")
      .best-block-left
        ul.options-list
          li.options-list__item
            img(src="assets/images/icon-list.svg")
            p Lucky ffw718 удобен и прост в использовании, благодаря небольшому размеру занимает мало места
          li.options-list__item
            img(src="assets/images/icon-list.svg")
            p Позволяет без особого труда находить бровки-частые места скопления рыбы в водоеме
        a(href=".form").second-button Сделать заказ
    .best-block
      .best-block-left
        ul.options-list
          li.options-list__item
            img(src="assets/images/icon-list.svg")
            p Беспроводные эхолоты оставляют маркерные удилища как средства замера глубин далеко в прошлом
          li.options-list__item
            img(src="assets/images/icon-list.svg")
            p Способен работать в любых погодных условиях ночью и днем на любой воде
        a(href=".form").second-button Сделать заказ
      .best-block__image
        img(src="assets/images/img.jpg")
            
    .best-numbers
      .best-item
        .best-item__image
          img(src='assets/images/icon-wifi.svg')
        p.best-item__title Беспроводной
        p.best-item__text Удаленная связь эхолота и датчика
      .best-item
        .best-item__image
          img(src='assets/images/icon-fish.svg')
        p.best-item__title Чувствительный
        p.best-item__text Измеряет глубину и обнаруживает рыбу без сверления лунки
      .best-item
        .best-item__image
          img(src='assets/images/icon-snow.svg')
        p.best-item__title Термоустойчивый
        p.best-item__text Идеально подойдет для любой рыбалки, будь то летом или зимой, для ловли с берега и с лодки.
      .best-item
        .best-item__image
          img(src='assets/images/icon-hat.svg')
        p.best-item__title Мультиязычный
        p.best-item__text Есть интерфейс на русском языке
    
    
    a(href=".form").main-button Заказать сейчас
