section.delivery
  .wrap
    h2.section-title Способы доставки
    .delivery-nav
      .delivery-nav__item Москва
      .delivery-nav__item.active Санкт-Петербург
      .delivery-nav__item По России
    
    .delivery-container
      .delivery-item
        .delivery-item__icon
          img(src="assets/images/icon-marker.svg")
        .delivery-content
          h4.delivery-item__title Самовывоз в Санкт-Петербурге
          p.delivery-item__text Адрес: м.Площадь Восстания, Лиговский проспект 50, корпус 16, офис 122. <br>Тел: 8 800 500 69 - 43
      .delivery-item
        .delivery-item__icon
          img(src="assets/images/icon-delivery.svg")
        .delivery-content
          h4.delivery-item__title Доставка по Санкт-Петербургу
          p.delivery-item__text Стоимость доставки заказа из нашего магазина до двери - 300 рублей.<br>Доставка осуществляется в день заказа или на следующий день, с момента подтверждения. За час до доставки курьер связывается с получателем
    
    a(href=".form").second-button Сделать заказ
