section.feedback
  .wrap
    h2.section-title Отзывы о нас
    .feedback-slider
      .feedback-slide
        .feedback-container
          .feedback__avatar(style="background-image: url('assets/images/feedback-1.jpg')")
          h4.feedback__name Олейников Игорь
          p.feedback__city г. Самара
          p.feedback__text Случайно увидел объявление в интернете. Заитересовал, решил купить, пока не жалею глубину показывает точно, и ямы даже видно
      .feedback-slide
        .feedback-container
          .feedback__avatar(style="background-image: url('assets/images/feedback-2.jpg')")
          h4.feedback__name Олейников Игорь
          p.feedback__city г. Самара
          p.feedback__text Случайно увидел объявление в интернете. Заитересовал, решил купить, пока не жалею глубину показывает точно, и ямы даже видно
      .feedback-slide
        .feedback-container
          .feedback__avatar(style="background-image: url('assets/images/feedback-3.jpg')")
          h4.feedback__name Олейников Игорь
          p.feedback__city г. Самара
          p.feedback__text Случайно увидел объявление в интернете. Заитересовал, решил купить, пока не жалею глубину показывает точно, и ямы даже видно

    a(href=".form").second-button Оставить отзыв
