footer.footer
  .wrap
    a(href="/").footer-logo
      img(src="assets/images/logo.svg")
      
    .footer-body
      .footer-item
        p.footer__text Офис в Санкт-Петербурге:
        a(href="tel:+78126034426").footer__link +7 (812) 603-44-26
      .footer-item
        p.footer__text Технический отдел по РФ:
        a(href="tel:+78126034426").footer__link +7 (800) 500-69-43
      .footer-item
        p.footer__text Офис в Москве:
        a(href="tel:+78126034426").footer__link +7 (800) 500-69-43
      .footer-item
        p.footer__text E-mail:
        a(href="mailto:support@smart-microcam.ru").footer__link support@smart-microcam.ru
      .footer-item
        p.footer__text Адрес:
        a(href="https://www.google.ru/maps/dir//%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%9B%D0%B8%D0%B3%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80.+50+%D0%BA.16+%D0%BE%D1%84.122/@59.9202972,30.3591492,14z/data=!4m2!4m1!3e3?hl=ru&authuser=0").footer__link Санкт-Петербург, Лиговский пр. 50 к.16 оф.122
