section.form
  .wrap
    h2.section-title Если у вас остались какие-то вопросы
    p.form__text Мы вам перезвоним и уточним все детали.
    
    form.form-body
      p.form__title Просто заполните это поле и мы с вами свяжемся!
      input(type="text" placeholder="Ваше имя").form__input
      input(type="text" placeholder="Телефон").form__input
      input(type="submit" value="Отправить").form__button
