header.header
  .wrap
    a(href="#").header-logo
      img(src="assets/images/logo.svg")
    

    nav.nav
      ul.nav-list
        li.nav-item
          a(href=".best") Описание
        li.nav-item
          a(href=".feedback") Отзывы
        li.nav-item
          a(href=".delivery") Доставка
        li.nav-item
          a(href=".footer") Контакты
        li.nav-item
          a(href=".form") Заказать звонок
          
    
    a(href="tel:+78005006943").header-phone
      p.header-phone__numbers +7 (800) 500-69-43
      p.header-phone__text Бесплатный звонок по РФ
