section.options
  .wrap
    h2.section-title Характеристики эхолота Lucky
    
    .options-body
      ul.options-list
        ul.options-list__item
          img(src="assets/images/icon-list.svg")
          p Максимальная глубина: 120 метров
        ul.options-list__item
          img(src="assets/images/icon-list.svg")
          p Частота: 125 КГц
        ul.options-list__item
          img(src="assets/images/icon-list.svg")
          p Оповещение при обнаружении рыбы
        ul.options-list__item
          img(src="assets/images/icon-list.svg")
          p Водонепроницаемый прочный корпус
        ul.options-list__item
          img(src="assets/images/icon-list.svg")
          p Экран: ЖК 2.5 дюйма, с подсветкой
        ul.options-list__item
          img(src="assets/images/icon-list.svg")
          p Угол луча: 90 градусов
        ul.options-list__item
          img(src="assets/images/icon-list.svg")
          p Питание: 4 батарейки ААА
      
      .options-image
        img(src="assets/images/options-lucky.jpg")
    
    a(href=".form").main-button Заказать сейчас
