section.photos
  .wrap
    h2.section-title Фотографии эхолота Lucky
    
    .photos-slider
      .photos-slide
        .photos-container(style="background-image: url('assets/images/photo-image-1.jpg');")
      .photos-slide
        .photos-container(style="background-image: url('assets/images/photo-image-2.png');")
      .photos-slide
        .photos-container(style="background-image: url('assets/images/photo-image-3.jpg');")
      .photos-slide
        .photos-container(style="background-image: url('assets/images/photo-image-3.jpg');")
        
