section.quality
  .wrap
    h2.section-title Гарантия качества
    .quality-body
      img(src="assets/images/quality-medal.png")
      p Мы предлагаем Вам только качетсвенное и надежное оборудование. Все товары проходят сертификацию,а также предпродажный контроль качества в нашем сервисном центре.  На все обородование предоставляется гарантия 1 год.
      img(src="assets/images/quality-doc.png")
