section.time
  .wrap
    .time-container
      .time__image
        img(src="assets/images/time-lucky.png")
      
      .time-content
        h2.time__title Успей купить <br>эхолот Lucky FF 718<br><span>до 22:00</span> и получить <br>швейцарский <span>нож в подарок!</span>
        a(href=".form").main-button Заказать сейчас
