section.video
  .wrap
    h2.section-title Смотрите, как удобно ловить рыбу
    
    .video-body
      iframe(width="600" height="335" src="https://www.youtube.com/embed/iOJs9rBy52g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
