section.welcome
  .wrap
    .welcome-left
      h2.welcome__title Закажите <br>беспроводной <br>эхолот Lucky FF 718<br>за <span class="crossed">6500 ₽</span><span> 5990 ₽</span>
      p.welcome__text И получи швейцарский нож в подарок!
      a(href=".form").main-button Заказать сейчас
    .welcome-right
      img(src="assets/images/welcome-lucky.png").welcome__lucky
      img(src="assets/images/welcome-knife.png").welcome__knife
